{% extends 'base.html.twig' %}

{% block body %}
<section class="container mb-5">
    <div class="row">
        <div id="chat" class="col-11 mx-auto card mt-5">
            <div class="row card-header">
                <div class="col-4 d-flex align-content-center">
                    <img class="mr-auto img-fluid" src="{{ asset('images/logo.svg') }}" id="logo" alt="Card image cap">
                </div>
                <div class="col-8 d-flex my-auto">
                    <h2>Un verre c'est bien, Drinky c'est mieux !</h2>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div id="chatMessages">
                        {% for userMessage in userMessages %}
                            <div class="bulle bulle-user col-6 ml-auto text-right">
                                <p class="my-auto pr-3">{{ userMessage|capitalize }}</p>
                            </div>
                        {% endfor %}
                        {% for chatMessage in chatMessages %}
                            <div class="bulle bulle-chat col-6">
                                <p class="my-auto pl-3">{{ chatMessage|capitalize }}</p>
                            </div>
                        {% endfor %}
                        {% if lastCocktail is not null %}
                            <div class="container mt-5">
                                <div class="row mx-auto">
                                    <div class="col-6 d-flex justify-content-end">
                                        <img src="{{ lastCocktail.thumbnail }}">
                                    </div>
                                    <div class="col-6 pt-4">
                                        <h4>Ingrédients</h4>
                                        <ul>
                                            {% for ingredient in lastCocktail.ingredients %}
                                                <li>
                                                    {{ ingredient }} {{ lastCocktail.measures[loop.index0] }} {{ lastCocktail.units[loop.index0] }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </p>
            </div>
            <div class="d-flex justify-content-around card-footer my-auto">
                {{ form_start(form) }}
                    <span class="mr-5">{{ form_widget(form.yes) }}</span>
                    <span class="mr-5">{{ form_widget(form.no) }}</span>
                    <div class="form-group" hidden>
                        <label for="client_entry">Votre Reponse</label><br />
                        {{ form_widget(form.client_entry) }}
                    </div>
                    <a class="btn" href="{{ asset('/reset') }}">Reset</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
