{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div id="chat" class="col-12 card mt-5">
                <img class="card-img-top" src="{{ asset('images/logo.svg') }}" id="logo" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Drinky Bot</h4>
                    <p class="card-text">
                        <div id="chatMessages">
                            {% for userMessage in userMessages %}
                                <div class="alert alert-warning text-right">
                                    <p>{{ userMessage }}</p>
                                </div>
                            {% endfor %}
                            {% for chatMessage in chatMessages %}
                                <div class="alert alert-primary">
                                    <p>{{ chatMessage }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="form-inline d-flex justify-content-around ">
                        {{ form_start(form) }}

                        <div class="form-group">

                            {{ form_widget(form.yes) }}
                            {{ form_widget(form.no) }}<br />

                        </div>
                        <div class="form-group" hidden>
                            <label for="client_entry">Votre Reponse</label><br />
                            {{ form_widget(form.client_entry) }}
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center">
        <button class="btn btn-warning" onclick="document.location.href='/reset'">Reset</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
